.Google2 {
    margin: 0;
      position: absolute;
     top: 41%;
    left: 50%;
     -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
    }

#searchbox1 {
    border-radius: 25px;
    border: 1px solid blue;
    padding: 20px; 
    width:400px;
    height: 5px; 
    }

#button1{
    background-color:lightgray;
    width:150px;
    height:43px;
    margin-left:35%;
    }